/* Content Styling */

.profile {
    padding: 5em;
    padding-top: 8em;
    &__greetings {
        width: 40%;
        background: $pink;
        color: white;
        border-radius: 15px;
        font-weight: bold;
        font-size: 20px;
        line-height: 33px;
        padding: .5em 1.25em;
    }
    &__heading {
        color: $yellow;
        font-weight: bold;
        font-size: $text-heading;
        line-height: 65px;
        text-transform: uppercase;
        margin-top: 1em;
    }
    &__subheading {
        color: $yellow;
        font-weight: 600;
        font-size: $text-subheading;
        line-height: 49px;
    }
    &__details p {
        font-size: $text-profDesc;
        line-height: 27px;
        color: $white;
        margin-top: 1em;
        & i {
            color: $pink;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            margin-right: 1.5em;
        }
    }
    &__img {
        max-width: 100%;
        border: 20px rgba(250, 255, 249, 0.5) solid;
    }
    &__description {
        font-weight: normal;
        font-size: $text-profDesc;
        line-height: 33px;
        text-align: center;
        color: white;
        padding-top: 1em;
    }
    &__left:after {
        content: "";
        height: 100%;
        width: 2px;
        background: rgba($white, .8);
        position: absolute;
        top: 20%;
        left: 50%;
    }
    &__right {
        //border-left: 2px solid $yellow;
        text-align: center;
        padding-left: 5em;
    }
    &__social-icons {
        & i {
            line-height: 41px;
            font-size: 30px !important;
        }
        & a i:hover {
            transition: color 1.5s;
            color: $yellow;
        }
    }
}

.work {
    &__heading {
        color: $blue;
        font-size: $text-heading;
        font-weight: 600;
        padding-top: 2em;
    }
}


/* Timeline */

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 2em 1em;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        width: 5px;
        height: 97%;
        background: $blue;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            position: relative;
            width: 50%;
            padding: 3em 2em;
            box-sizing: border-box;
            h3 {
                font-weight: 600;
                color: $blue;
                font-size: $text-heading;
            }
            h4 {
                color: $dark-gray;
                font-size: $text-subheading;
                font-weight: 600;
            }
            p {
                color: $black;
                padding: 1em 0;
                font-size: $text-profDesc;
            }
            &:nth-child(odd) {
                float: left;
                text-align: right;
                clear: both;
                &:before {
                    content: "";
                    position: absolute;
                    top: 65px;
                    right: -12px;
                    width: 20px;
                    height: 20px;
                    background: $pink;
                    border-radius: 100%;
                    box-shadow: 0 0 0 3px rgba($blue, 1);
                }
                & .time {
                    position: absolute;
                    top: 55px;
                    right: -230px;
                    margin: 0;
                    padding: .5em 1em;
                    background: $blue;
                    color: white;
                    border-radius: 20px;
                    border: 5px solid $light-blue;
                }
            }
            &:nth-child(even) {
                float: right;
                text-align: left;
                clear: both;
                &:before {
                    content: "";
                    position: absolute;
                    top: 60px;
                    left: -8px;
                    width: 20px;
                    height: 20px;
                    background: $pink;
                    border-radius: 100%;
                    box-shadow: 0 0 0 3px rgba($blue, 1);
                }
                & .time {
                    position: absolute;
                    top: 50px;
                    left: -230px;
                    margin: 0;
                    padding: .5em 1em;
                    background: $blue;
                    color: white;
                    border-radius: 20px;
                    border: 5px solid $light-blue;
                }
            }
        }
        &:after {
            content: "";
            clear: both;
            display: block;
        }
    }
    .content {
        padding-bottom: 20px;
    }
}

.skills {
    &__heading {
        color: $blue;
        font-size: $text-heading;
        font-weight: 600;
        padding-top: 2em;
    }
    .skill {
        margin: 5em 0em;
        height: 800px;
        line-height: 30px;
        box-shadow: 0px 5px 10px #d4cdcd;
        border-bottom: 10px solid $dark-pink;
        &__img {
            width: 100%;
            height: 300px;
            box-shadow: 0px 5px 10px #d4cdcd;
        }
        &__content {
            padding: 1em .5em;
            margin: .5em 1em;
            height: 200px;
            font-size: $text-profDesc;
            color: $dark-gray;
            ul {
                list-style-type: none;
                li {
                    padding: 2px;
                    font-weight: bold;
                }
                ul {
                    margin-left: 2em;
                    list-style-type: disc;
                    li {
                        padding-top: .5em;
                        font-weight: normal;
                    }
                }
            }
        }
        &__title {
            font-weight: bold;
            color: $blue;
            font-size: $text-subheading;
        }
        &__desc {
            font-size: $text-profDesc;
            margin-top: 10px;
            color: $black;
        }
        &__badge {
            padding: .5em 1em;
            border-radius: 10px;
            font-size: 10px;
            text-transform: uppercase;
            vertical-align: middle;
            font-weight: bold;
            color: $white;
            box-shadow: 1px 1px 3px #ab9595;
            margin-left: 1em;
            &--green {
                background: $green;
            }
            &--orange {
                background: $orange;
            }
        }
    }
}

.footer {
    &__details {
        color: $yellow;
        margin: 6em 5em;
        h3 {
            font-size: $text-subheading;
            font-weight: 600;
            text-transform: uppercase;
        }
        h4 {
            font-size: $text-profDesc;
            margin: 1em 0;
            color: $white;
            a {
                color: $white;
            }
        }
    }
    &__icons a {
        font-size: $text-heading;
        color: $pink;
        margin: 1em 0;
        &:not(:first-child) {
            margin-left: 1em;
        }
    }
}