$yellow: #f7ffc8;
$white: #fffffd;
$pink: #fca8bc;
$dark-pink: #f8719a;
$blue: #338fb6;
$light-blue: #99d1e8;
$light-blue: #acd2de;
$dark-gray: #8a8a8a;
$light-gray: #7b7474;
$orange: #ff651b;
$green: #048e1c;
$black: #000000;

/* Font-size */

$text-heading: 40px;
$text-subheading: 30px;
$text-profDesc: 20px;

/* Font-size XSS */

$xss-text-heading: 30px;
$xss-text-subheading: 20px;
$xss-text-profDesc: 20px;
$xss-text-profDesc-md: 15px;
$xss-text-profDesc-smaller: 12px;

/* Font-size SM */

$sm-text-heading: 33px;
$sm-text-subheading: 23px;
$sm-text-profDesc: 23px;
$sm-text-profDesc-md: 18px;
$sm-text-profDesc-smaller: 15px;

/* Font-size MD Screens */

$md-text-heading: 30px;
$md-text-subheading: 20px;
$md-text-profDesc:15px;
$md-text-profDesc-md: 18px;
$md-text-profDesc-smaller: 15px;