@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
}

//Layout
.container {
	width: 100%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@function colWidth($col) {
	$colWidth: 100% / $col;
	@return $colWidth;
}

[class*="col-"] {
	float: left;
	padding-right: 20px;

	&:last-of-type {
		padding-right: 0;
	}
}

.col {
	&-1 {
		width: colWidth(12);
	}

	&-2 {
		width: colWidth(6);
	}

	&-3 {
		width: colWidth(4);
	}

	&-4 {
		width: colWidth(3);
	}

	&-5 {
		width: colWidth(4);
	}

	&-6 {
		width: colWidth(2);
	}

	&-12 {
		width: colWidth(1);
	}
}

//Typography

$yellow: #f7ffc8;
$white: #fffffd;
$pink: #fca8bc;
$dark-pink: #f8719a;
$blue: #338fb6;
$dark-gray: #797171;
$light-gray: #7b7474;

$text-heading: 40px;
$text-subheading: 30px;
$text-profDesc: 20px;

h1,
h2,
h3 {
	font-weight: normal;
}

.profile {
	padding: 5em;
	padding-top: 8em;

	&__greetings {
		width: 20%;
		background: $pink;
		color: white;
		border-radius: 10px;
		font-weight: bold;
		font-size: 20px;
		line-height: 33px;
		padding: 10px;
	}
	&__heading {
		color: $yellow;
		font-weight: bold;
		font-size: $text-heading;
		line-height: 65px;
		text-transform: uppercase;
		margin-top: 1em;
	}

	&__subheading {
		color: $yellow;
		font-weight: 600;
		font-size: $text-subheading;
		line-height: 49px;
	}

	&__details p {
		font-size: $text-profDesc;
		line-height: 27px;
		color: white;
		margin-top: 1em;

		& i {
			color: $pink;
			font-style: normal;
			font-weight: 900;
			font-size: 20px;
			line-height: 23px;
			margin-right: 1.5em;
		}
	}

	&__img {
		max-width: 45%;
		border: 20px rgba(250, 255, 249, 0.5) solid;
	}

	&__description {
		font-weight: normal;
		font-size: $text-profDesc;
		line-height: 33px;
		text-align: center;
		color: white;
		padding-top: 1em;
	}

	&__right {
		border-left: 2px solid $yellow;
		text-align: center;
		padding-left: 5em;
	}

	&__social-icons {
		& i {
			line-height: 41px;
			font-size: 30px !important;
		}
	}
}

.work {
	&__heading {
		color: $blue;
		font-size: $text-heading;
		font-weight: 600;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	&__items {
		height: 500px;
		margin: 0.5em 3em;
		padding: 20px 25px;
		border-top: 10px solid $dark-pink;
		border-bottom: 10px solid $dark-pink;
		box-shadow: 0px 5px 10px #d4cdcd;

		& ul {
			margin-left: 1em;
			color: $light-gray;
		}
	}

	&__title {
		font-size: $text-subheading;
		line-height: 40px;
		color: $dark-gray;
		font-weight: bold;
	}

	&__company,
	&__yr {
		font-size: $text-profDesc;
	}

	&__description {
		margin-top: 50px;
	}
}

//Images
.img--round {
	border-radius: 100%;
}

//Utilities
.text-align--center {
	text-align: center;
}

.push-left {
	margin-left: 2.5em;
}

.border-right--white {
	border-right: 2px solid $white;
}

.border-left--white {
	border-left: 2px solid $white;
}

//Backgrounds

.bg-gradient--blue {
	background: linear-gradient(
		96.83deg,
		#338fb6 62.35%,
		rgba(72, 151, 185, 0.702563) 93.89%,
		rgba(72, 151, 185, 0.511005) 103.99%,
		rgba(72, 151, 185, 0) 132.66%
	);
}

//Media Queries

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	[class*="col-"] {
		padding-right: 0;
	}

	.col {
		&-6 {
			width: colWidth(1);
		}
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
