@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
/* Font-size */
/* Font-size XSS */
/* Font-size SM */
/* Font-size MD Screens */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif; }

.container {
  width: 100%; }

.row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  padding-right: 20px; }
  [class*="col-"]:last-of-type {
    padding-right: 0; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 25%; }

.col-6 {
  width: 50%; }

.col-12 {
  width: 100%; }

h1,
h2,
h3,
h4 {
  font-weight: normal; }

a {
  color: #fffffd; }
  a:hover {
    transition: color 1.5s !important;
    color: #f7ffc8 !important; }

/* Content Styling */
.profile {
  padding: 5em;
  padding-top: 8em; }
  .profile__greetings {
    width: 20%;
    background: #fca8bc;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    padding: .5em 1.25em; }
  .profile__heading {
    color: #f7ffc8;
    font-weight: bold;
    font-size: 40px;
    line-height: 65px;
    text-transform: uppercase;
    margin-top: 1em; }
  .profile__subheading {
    color: #f7ffc8;
    font-weight: 600;
    font-size: 30px;
    line-height: 49px; }
  .profile__details p {
    font-size: 20px;
    line-height: 27px;
    color: #fffffd;
    margin-top: 1em; }
    .profile__details p i {
      color: #fca8bc;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 23px;
      margin-right: 1.5em; }
  .profile__img {
    max-width: 45%;
    border: 20px rgba(250, 255, 249, 0.5) solid; }
  .profile__description {
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: white;
    padding-top: 1em; }
  .profile__left:after {
    content: "";
    height: 60%;
    width: 2px;
    background: rgba(255, 255, 253, 0.8);
    position: absolute;
    top: 10%;
    left: 50%; }
  .profile__right {
    text-align: center;
    padding-left: 5em; }
  .profile__social-icons i {
    line-height: 41px;
    font-size: 30px !important; }
  .profile__social-icons a i:hover {
    transition: color 1.5s;
    color: #f7ffc8; }

.work__heading {
  color: #338fb6;
  font-size: 40px;
  font-weight: 600;
  padding-top: 2em; }

/* Timeline */
.timeline {
  position: relative;
  margin: 0 auto;
  padding: 2em 12em; }
  .timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 5px;
    height: 97%;
    background: #338fb6; }
  .timeline ul {
    margin: 0;
    padding: 0; }
    .timeline ul li {
      list-style: none;
      position: relative;
      width: 50%;
      padding: 3em 2em;
      box-sizing: border-box; }
      .timeline ul li h3 {
        font-weight: 600;
        color: #338fb6;
        font-size: 40px; }
      .timeline ul li h4 {
        color: #8a8a8a;
        font-size: 30px;
        font-weight: 600; }
      .timeline ul li p {
        color: #000000;
        padding: 1em 0;
        font-size: 20px; }
      .timeline ul li:nth-child(odd) {
        float: left;
        text-align: right;
        clear: both; }
        .timeline ul li:nth-child(odd):before {
          content: "";
          position: absolute;
          top: 65px;
          right: -12px;
          width: 20px;
          height: 20px;
          background: #fca8bc;
          border-radius: 100%;
          box-shadow: 0 0 0 3px #338fb6; }
        .timeline ul li:nth-child(odd) .time {
          position: absolute;
          top: 55px;
          right: -230px;
          margin: 0;
          padding: .5em 1em;
          background: #338fb6;
          color: white;
          border-radius: 20px;
          border: 5px solid #acd2de; }
      .timeline ul li:nth-child(even) {
        float: right;
        text-align: left;
        clear: both; }
        .timeline ul li:nth-child(even):before {
          content: "";
          position: absolute;
          top: 60px;
          left: -8px;
          width: 20px;
          height: 20px;
          background: #fca8bc;
          border-radius: 100%;
          box-shadow: 0 0 0 3px #338fb6; }
        .timeline ul li:nth-child(even) .time {
          position: absolute;
          top: 50px;
          left: -230px;
          margin: 0;
          padding: .5em 1em;
          background: #338fb6;
          color: white;
          border-radius: 20px;
          border: 5px solid #acd2de; }
    .timeline ul:after {
      content: "";
      clear: both;
      display: block; }
  .timeline .content {
    padding-bottom: 20px; }

.skills__heading {
  color: #338fb6;
  font-size: 40px;
  font-weight: 600;
  padding-top: 2em; }

.skills .skill {
  margin: 5em;
  height: 750px;
  line-height: 30px;
  box-shadow: 0px 5px 10px #d4cdcd;
  border-bottom: 10px solid #f8719a; }
  .skills .skill__img {
    width: 100%;
    height: 300px;
    box-shadow: 0px 5px 10px #d4cdcd; }
  .skills .skill__content {
    padding: 1em .5em;
    margin: .5em 1em;
    height: 200px;
    font-size: 20px;
    color: #8a8a8a; }
    .skills .skill__content ul {
      list-style-type: none; }
      .skills .skill__content ul li {
        padding: 2px;
        font-weight: bold; }
      .skills .skill__content ul ul {
        margin-left: 2em;
        list-style-type: disc; }
        .skills .skill__content ul ul li {
          padding-top: .5em;
          font-weight: normal; }
  .skills .skill__title {
    font-weight: bold;
    color: #338fb6;
    font-size: 30px; }
  .skills .skill__desc {
    font-size: 20px;
    margin-top: 10px;
    color: #000000; }
  .skills .skill__badge {
    padding: .5em 1em;
    border-radius: 10px;
    font-size: 10px;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: bold;
    color: #fffffd;
    box-shadow: 1px 1px 3px #ab9595;
    margin-left: 1em; }
    .skills .skill__badge--green {
      background: #048e1c; }
    .skills .skill__badge--orange {
      background: #ff651b; }

.footer__details {
  color: #f7ffc8;
  margin: 6em 5em; }
  .footer__details h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase; }
  .footer__details h4 {
    font-size: 20px;
    margin: 1em 0;
    color: #fffffd; }
    .footer__details h4 a {
      color: #fffffd; }

.footer__icons a {
  font-size: 40px;
  color: #fca8bc;
  margin: 1em 0; }
  .footer__icons a:not(:first-child) {
    margin-left: 1em; }

.img--round {
  border-radius: 100%; }

.text-align--center {
  text-align: center; }

.push-left {
  margin-left: 2.5em; }

.border-right--white {
  border-right: 2px solid #fffffd; }

.border-left--white {
  border-left: 2px solid #fffffd; }

.bg-gradient--blue {
  background: linear-gradient(96.83deg, #338fb6 62.35%, rgba(72, 151, 185, 0.702563) 93.89%, rgba(72, 151, 185, 0.511005) 103.99%, rgba(72, 151, 185, 0) 132.66%); }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  [class*="col-xs"] {
    padding-right: 0; }
  .col-xs-1 {
    width: 8.33333%; }
  .col-xs-2 {
    width: 16.66667%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-4 {
    width: 33.33333%; }
  .col-xs-5 {
    width: 25%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-12 {
    width: 100%; }
  /* Content Styling */
  .profile {
    position: relative;
    padding: 2em;
    padding-top: 3em;
    height: 820px; }
    .profile__greetings {
      width: 55%;
      border-radius: 15px;
      font-weight: bold;
      font-size: 20px;
      line-height: 33px;
      padding: .5em 1.25em; }
    .profile__heading {
      font-size: 30px;
      line-height: 65px;
      text-transform: uppercase;
      margin-top: 1em; }
    .profile__subheading {
      font-weight: 600;
      font-size: 20px;
      line-height: 49px; }
    .profile__details p {
      font-size: 15px;
      line-height: 27px;
      margin-left: 0; }
      .profile__details p i {
        font-size: 20px;
        line-height: 23px;
        margin-right: 1.5em; }
    .profile__img {
      max-width: 80%;
      margin: 0 auto;
      border: 10px #acd2de solid; }
    .profile__description {
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      text-align: justify;
      color: #000000;
      padding-top: 1em; }
    .profile__left:after {
      display: none; }
    .profile__right {
      margin-top: 3em;
      text-align: center;
      padding-left: 0; }
    .profile__social-icons i {
      line-height: 41px;
      font-size: 30px !important; }
  .work__heading {
    color: #338fb6;
    font-size: 30px;
    font-weight: 600;
    padding-top: 2em; }
  .timeline {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 2em 1em; }
    .timeline:before {
      content: "";
      position: absolute;
      left: 15px;
      width: 5px;
      height: 97%;
      background: #338fb6; }
    .timeline ul li {
      list-style: none;
      position: relative;
      width: 100%;
      padding: 3em 2em;
      box-sizing: border-box; }
      .timeline ul li h3 {
        font-weight: 600;
        font-size: 30px; }
      .timeline ul li h4 {
        font-size: 20px;
        font-weight: 600; }
      .timeline ul li p {
        padding: 1em 0;
        font-size: 20px; }
      .timeline ul li:nth-child(odd), .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        clear: both;
        padding-left: 20px; }
        .timeline ul li:nth-child(odd):before, .timeline ul li:nth-child(even):before {
          top: 20px;
          left: -9px; }
        .timeline ul li:nth-child(odd) .time, .timeline ul li:nth-child(even) .time {
          top: 9px;
          right: 85px;
          left: 26px;
          text-align: center; }
    .timeline .content {
      padding-top: 3em; }
  .skills__heading {
    font-size: 40px;
    font-weight: 600;
    padding-top: 2em;
    padding-bottom: 1em; }
  .skills .skill {
    margin: 2em 1em;
    line-height: 30px;
    height: auto;
    border-bottom: none;
    box-shadow: none; }
    .skills .skill:after {
      content: "";
      width: 90%;
      height: 2px;
      background: #acd2de;
      display: block;
      margin: 0 auto; }
    .skills .skill__img {
      width: 90%;
      height: 200px;
      box-shadow: 0px 5px 10px #d4cdcd;
      margin: 1em; }
    .skills .skill__content {
      padding: 1em;
      margin: 0;
      height: auto;
      font-size: 15px;
      color: #8a8a8a; }
      .skills .skill__content ul {
        list-style-type: none; }
        .skills .skill__content ul li {
          padding: 2px;
          font-weight: bold; }
        .skills .skill__content ul ul {
          margin-left: 2em;
          list-style-type: disc; }
          .skills .skill__content ul ul li {
            padding-top: .5em;
            font-weight: normal; }
    .skills .skill__title {
      font-weight: bold;
      color: #338fb6;
      font-size: 20px; }
    .skills .skill__desc {
      font-size: 12px;
      margin-top: 10px;
      color: #000000; }
    .skills .skill__badge {
      padding: .5em 1em;
      border-radius: 10px;
      font-size: 10px;
      box-shadow: 1px 1px 3px #ab9595;
      margin-left: 1em; }
  .footer__details {
    margin: 2em 1em; }
    .footer__details h3 {
      font-size: 20px;
      font-weight: 600; }
    .footer__details h4 {
      font-size: 12px;
      margin: 1em 0;
      color: #fffffd; }
      .footer__details h4 a {
        color: #fffffd; }
  .footer__icons a {
    font-size: 30px;
    margin: 1em 0; }
    .footer__icons a:not(:first-child) {
      margin-left: 1em; }
  .push-left {
    margin-left: 3.1em; } }

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  [class*="col-sm"] {
    padding-right: 0; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 25%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-12 {
    width: 100%; }
  /* Content Styling */
  .profile {
    position: relative;
    padding: 2em;
    padding-top: 3em;
    height: 820px; }
    .profile__greetings {
      width: 30%;
      padding: .5em 1.25em; }
    .profile__heading {
      font-size: 33px;
      line-height: 65px;
      text-transform: uppercase;
      margin-top: 1em; }
    .profile__subheading {
      font-weight: 600;
      font-size: 23px;
      line-height: 49px; }
    .profile__details p {
      font-size: 23px;
      line-height: 27px;
      margin-left: 0; }
      .profile__details p i {
        font-size: 20px;
        line-height: 23px;
        margin-right: 1.5em; }
    .profile__img {
      max-width: 80%;
      margin: 0 auto;
      border: 10px #acd2de solid; }
    .profile__description {
      font-weight: normal;
      font-size: 23px;
      line-height: 25px;
      text-align: justify;
      color: #000000;
      padding-top: 1em; }
    .profile__left:after {
      display: none; }
    .profile__right {
      margin-top: 3em;
      text-align: center;
      padding-left: 0; }
    .profile__social-icons i {
      line-height: 41px;
      font-size: 30px !important; }
  .work__heading {
    color: #338fb6;
    font-size: 33px;
    font-weight: 600;
    padding-top: 2em; }
  .timeline {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 2em 1em; }
    .timeline:before {
      content: "";
      position: absolute;
      left: 15px;
      width: 5px;
      height: 97%;
      background: #338fb6; }
    .timeline ul li {
      list-style: none;
      position: relative;
      width: 100%;
      padding: 3em 2em;
      box-sizing: border-box; }
      .timeline ul li h3 {
        font-weight: 600;
        font-size: 33px; }
      .timeline ul li h4 {
        font-size: 23px;
        font-weight: 600; }
      .timeline ul li p {
        padding: 1em 0;
        font-size: 23px; }
      .timeline ul li:nth-child(odd), .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        clear: both;
        padding-left: 20px; }
        .timeline ul li:nth-child(odd):before, .timeline ul li:nth-child(even):before {
          top: 20px;
          left: -9px; }
        .timeline ul li:nth-child(odd) .time, .timeline ul li:nth-child(even) .time {
          top: 9px;
          right: 350px;
          left: 26px;
          text-align: center; }
    .timeline .content {
      padding-top: 3em; }
  .skills__heading {
    font-size: 33px;
    font-weight: 600;
    padding-top: 2em;
    padding-bottom: 1em; }
  .skills .skill {
    margin: 2em 1em;
    line-height: 30px;
    height: auto;
    border-bottom: none;
    box-shadow: none; }
    .skills .skill__img {
      width: 90%;
      height: 350px;
      box-shadow: 0px 5px 10px #d4cdcd;
      margin: 1em; }
    .skills .skill__content {
      padding: 1em;
      margin: 0;
      height: auto;
      font-size: 23px;
      color: #8a8a8a; }
      .skills .skill__content ul {
        list-style-type: none; }
        .skills .skill__content ul li {
          padding: 2px;
          font-weight: bold; }
        .skills .skill__content ul ul {
          margin-left: 2em;
          list-style-type: disc; }
          .skills .skill__content ul ul li {
            padding-top: .5em;
            font-weight: normal; }
    .skills .skill__title {
      font-weight: bold;
      color: #338fb6;
      font-size: 33px; }
    .skills .skill__desc {
      font-size: 23px;
      margin-top: 10px;
      color: #000000; }
    .skills .skill__badge {
      padding: .5em 1em;
      border-radius: 10px;
      font-size: 10px;
      box-shadow: 1px 1px 3px #ab9595;
      margin-left: 1em; }
  .footer__details {
    margin: 2em 1em; }
    .footer__details h3 {
      font-size: 23px;
      font-weight: 600; }
    .footer__details h4 {
      font-size: 15px;
      margin: 1em 0;
      color: #fffffd; }
      .footer__details h4 a {
        color: #fffffd; }
  .footer__icons a {
    font-size: 33px; }
  .push-left {
    margin-left: 3.1em; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 1000px) {
  [class*="col-md"] {
    float: left;
    padding-right: 20px; }
    [class*="col-md"]:last-of-type {
      padding-right: 0; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 25%; }
  .col-md-6 {
    width: 50%; }
  .col-md-12 {
    width: 100%; }
  /* Content Styling */
  .profile {
    padding: 1.5em;
    padding-top: 5em; }
    .profile__greetings {
      width: 50%;
      background: #fca8bc;
      color: white;
      border-radius: 15px;
      font-weight: bold;
      font-size: 20px;
      line-height: 33px;
      padding: .5em 1.25em; }
    .profile__heading {
      color: #f7ffc8;
      font-weight: bold;
      font-size: 30px;
      line-height: 50px;
      text-transform: uppercase;
      margin-top: 1em; }
    .profile__subheading {
      color: #f7ffc8;
      font-weight: 600;
      font-size: 20px;
      line-height: 49px; }
    .profile__details p {
      font-size: 15px;
      line-height: 27px;
      color: #fffffd;
      margin-top: 1em; }
      .profile__details p i {
        color: #fca8bc;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        margin-right: 1.5em; }
    .profile__img {
      max-width: 80%;
      border: 20px rgba(250, 255, 249, 0.5) solid; }
    .profile__description {
      font-weight: normal;
      font-size: 15px;
      line-height: 33px;
      text-align: justify;
      color: white;
      padding-top: 1em; }
    .profile__left:after {
      content: "";
      display: none; }
    .profile__right {
      text-align: center;
      padding-left: 1.5em; }
    .profile__social-icons i {
      line-height: 41px;
      font-size: 30px !important; }
    .profile__social-icons a i:hover {
      transition: color 1.5s;
      color: #f7ffc8; }
  .work__heading {
    color: #338fb6;
    font-size: 40px;
    font-weight: 600;
    padding-top: 2em; }
  /* Timeline */
  .timeline {
    position: relative;
    margin: 0 auto;
    padding: 2em 1em; }
    .timeline:before {
      content: "";
      position: absolute;
      left: 50%;
      width: 5px;
      height: 97%;
      background: #338fb6; }
    .timeline ul {
      margin: 0;
      padding: 0; }
      .timeline ul li {
        list-style: none;
        position: relative;
        width: 50%;
        padding: 3em 2em;
        box-sizing: border-box; }
        .timeline ul li h3 {
          font-weight: 600;
          color: #338fb6;
          font-size: 40px; }
        .timeline ul li h4 {
          color: #8a8a8a;
          font-size: 30px;
          font-weight: 600; }
        .timeline ul li p {
          color: #000000;
          padding: 1em 0;
          font-size: 20px; }
        .timeline ul li:nth-child(odd) {
          float: left;
          text-align: right;
          clear: both; }
          .timeline ul li:nth-child(odd):before {
            content: "";
            position: absolute;
            top: 65px;
            right: -12px;
            width: 20px;
            height: 20px;
            background: #fca8bc;
            border-radius: 100%;
            box-shadow: 0 0 0 3px #338fb6; }
          .timeline ul li:nth-child(odd) .time {
            position: absolute;
            top: 55px;
            right: -230px;
            margin: 0;
            padding: .5em 1em;
            background: #338fb6;
            color: white;
            border-radius: 20px;
            border: 5px solid #acd2de; }
        .timeline ul li:nth-child(even) {
          float: right;
          text-align: left;
          clear: both; }
          .timeline ul li:nth-child(even):before {
            content: "";
            position: absolute;
            top: 60px;
            left: -8px;
            width: 20px;
            height: 20px;
            background: #fca8bc;
            border-radius: 100%;
            box-shadow: 0 0 0 3px #338fb6; }
          .timeline ul li:nth-child(even) .time {
            position: absolute;
            top: 50px;
            left: -230px;
            margin: 0;
            padding: .5em 1em;
            background: #338fb6;
            color: white;
            border-radius: 20px;
            border: 5px solid #acd2de; }
      .timeline ul:after {
        content: "";
        clear: both;
        display: block; }
    .timeline .content {
      padding-bottom: 20px; }
  .skills__heading {
    color: #338fb6;
    font-size: 40px;
    font-weight: 600;
    padding-top: 2em; }
  .skills .skill {
    margin: 5em 10em;
    height: 820px;
    line-height: 30px;
    box-shadow: 0px 5px 10px #d4cdcd;
    border-bottom: 10px solid #f8719a; } }
  @media only screen and (min-width: 769px) and (max-width: 1000px) and (min-width: 769px) and (max-width: 800px) {
    .skills .skill {
      margin: 5em 8em; } }

@media only screen and (min-width: 769px) and (max-width: 1000px) {
    .skills .skill__img {
      width: 100%;
      height: 400px;
      box-shadow: 0px 5px 10px #d4cdcd; }
    .skills .skill__content {
      padding: 1em .5em;
      margin: .5em 1em;
      height: 200px;
      font-size: 20px;
      color: #8a8a8a; }
      .skills .skill__content ul {
        list-style-type: none; }
        .skills .skill__content ul li {
          padding: 2px;
          font-weight: bold; }
        .skills .skill__content ul ul {
          margin-left: 2em;
          list-style-type: disc; }
          .skills .skill__content ul ul li {
            padding-top: .5em;
            font-weight: normal; }
    .skills .skill__title {
      font-weight: bold;
      color: #338fb6;
      font-size: 30px; }
    .skills .skill__desc {
      font-size: 20px;
      margin-top: 10px;
      color: #000000; }
    .skills .skill__badge {
      padding: .5em 1em;
      border-radius: 10px;
      font-size: 10px;
      text-transform: uppercase;
      vertical-align: middle;
      font-weight: bold;
      color: #fffffd;
      box-shadow: 1px 1px 3px #ab9595;
      margin-left: 1em; }
      .skills .skill__badge--green {
        background: #048e1c; }
      .skills .skill__badge--orange {
        background: #ff651b; }
  .footer__details {
    color: #f7ffc8;
    margin: 6em 5em; }
    .footer__details h3 {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase; }
    .footer__details h4 {
      font-size: 20px;
      margin: 1em 0;
      color: #fffffd; }
      .footer__details h4 a {
        color: #fffffd; }
  .footer__icons a {
    font-size: 40px;
    color: #fca8bc;
    margin: 1em 0; }
    .footer__icons a:not(:first-child) {
      margin-left: 1em; } }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1001px) and (max-width: 1600px) {
  /* Content Styling */
  .profile {
    padding: 5em;
    padding-top: 8em; }
    .profile__greetings {
      width: 40%;
      background: #fca8bc;
      color: white;
      border-radius: 15px;
      font-weight: bold;
      font-size: 20px;
      line-height: 33px;
      padding: .5em 1.25em; }
    .profile__heading {
      color: #f7ffc8;
      font-weight: bold;
      font-size: 40px;
      line-height: 65px;
      text-transform: uppercase;
      margin-top: 1em; }
    .profile__subheading {
      color: #f7ffc8;
      font-weight: 600;
      font-size: 30px;
      line-height: 49px; }
    .profile__details p {
      font-size: 20px;
      line-height: 27px;
      color: #fffffd;
      margin-top: 1em; }
      .profile__details p i {
        color: #fca8bc;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        margin-right: 1.5em; }
    .profile__img {
      max-width: 100%;
      border: 20px rgba(250, 255, 249, 0.5) solid; }
    .profile__description {
      font-weight: normal;
      font-size: 20px;
      line-height: 33px;
      text-align: center;
      color: white;
      padding-top: 1em; }
    .profile__left:after {
      content: "";
      height: 100%;
      width: 2px;
      background: rgba(255, 255, 253, 0.8);
      position: absolute;
      top: 20%;
      left: 50%; }
    .profile__right {
      text-align: center;
      padding-left: 5em; }
    .profile__social-icons i {
      line-height: 41px;
      font-size: 30px !important; }
    .profile__social-icons a i:hover {
      transition: color 1.5s;
      color: #f7ffc8; }
  .work__heading {
    color: #338fb6;
    font-size: 40px;
    font-weight: 600;
    padding-top: 2em; }
  /* Timeline */
  .timeline {
    position: relative;
    margin: 0 auto;
    padding: 2em 1em; }
    .timeline:before {
      content: "";
      position: absolute;
      left: 50%;
      width: 5px;
      height: 97%;
      background: #338fb6; }
    .timeline ul {
      margin: 0;
      padding: 0; }
      .timeline ul li {
        list-style: none;
        position: relative;
        width: 50%;
        padding: 3em 2em;
        box-sizing: border-box; }
        .timeline ul li h3 {
          font-weight: 600;
          color: #338fb6;
          font-size: 40px; }
        .timeline ul li h4 {
          color: #8a8a8a;
          font-size: 30px;
          font-weight: 600; }
        .timeline ul li p {
          color: #000000;
          padding: 1em 0;
          font-size: 20px; }
        .timeline ul li:nth-child(odd) {
          float: left;
          text-align: right;
          clear: both; }
          .timeline ul li:nth-child(odd):before {
            content: "";
            position: absolute;
            top: 65px;
            right: -12px;
            width: 20px;
            height: 20px;
            background: #fca8bc;
            border-radius: 100%;
            box-shadow: 0 0 0 3px #338fb6; }
          .timeline ul li:nth-child(odd) .time {
            position: absolute;
            top: 55px;
            right: -230px;
            margin: 0;
            padding: .5em 1em;
            background: #338fb6;
            color: white;
            border-radius: 20px;
            border: 5px solid #acd2de; }
        .timeline ul li:nth-child(even) {
          float: right;
          text-align: left;
          clear: both; }
          .timeline ul li:nth-child(even):before {
            content: "";
            position: absolute;
            top: 60px;
            left: -8px;
            width: 20px;
            height: 20px;
            background: #fca8bc;
            border-radius: 100%;
            box-shadow: 0 0 0 3px #338fb6; }
          .timeline ul li:nth-child(even) .time {
            position: absolute;
            top: 50px;
            left: -230px;
            margin: 0;
            padding: .5em 1em;
            background: #338fb6;
            color: white;
            border-radius: 20px;
            border: 5px solid #acd2de; }
      .timeline ul:after {
        content: "";
        clear: both;
        display: block; }
    .timeline .content {
      padding-bottom: 20px; }
  .skills__heading {
    color: #338fb6;
    font-size: 40px;
    font-weight: 600;
    padding-top: 2em; }
  .skills .skill {
    margin: 5em 0em;
    height: 800px;
    line-height: 30px;
    box-shadow: 0px 5px 10px #d4cdcd;
    border-bottom: 10px solid #f8719a; }
    .skills .skill__img {
      width: 100%;
      height: 300px;
      box-shadow: 0px 5px 10px #d4cdcd; }
    .skills .skill__content {
      padding: 1em .5em;
      margin: .5em 1em;
      height: 200px;
      font-size: 20px;
      color: #8a8a8a; }
      .skills .skill__content ul {
        list-style-type: none; }
        .skills .skill__content ul li {
          padding: 2px;
          font-weight: bold; }
        .skills .skill__content ul ul {
          margin-left: 2em;
          list-style-type: disc; }
          .skills .skill__content ul ul li {
            padding-top: .5em;
            font-weight: normal; }
    .skills .skill__title {
      font-weight: bold;
      color: #338fb6;
      font-size: 30px; }
    .skills .skill__desc {
      font-size: 20px;
      margin-top: 10px;
      color: #000000; }
    .skills .skill__badge {
      padding: .5em 1em;
      border-radius: 10px;
      font-size: 10px;
      text-transform: uppercase;
      vertical-align: middle;
      font-weight: bold;
      color: #fffffd;
      box-shadow: 1px 1px 3px #ab9595;
      margin-left: 1em; }
      .skills .skill__badge--green {
        background: #048e1c; }
      .skills .skill__badge--orange {
        background: #ff651b; }
  .footer__details {
    color: #f7ffc8;
    margin: 6em 5em; }
    .footer__details h3 {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase; }
    .footer__details h4 {
      font-size: 20px;
      margin: 1em 0;
      color: #fffffd; }
      .footer__details h4 a {
        color: #fffffd; }
  .footer__icons a {
    font-size: 40px;
    color: #fca8bc;
    margin: 1em 0; }
    .footer__icons a:not(:first-child) {
      margin-left: 1em; } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2000px) {
  /* Content Styling */
  .profile {
    padding: 5em;
    padding-top: 8em; }
    .profile__greetings {
      width: 20%;
      background: #fca8bc;
      color: white;
      border-radius: 15px;
      font-weight: bold;
      font-size: 20px;
      line-height: 33px;
      padding: .5em 1.25em; }
    .profile__heading {
      color: #f7ffc8;
      font-weight: bold;
      font-size: 40px;
      line-height: 65px;
      text-transform: uppercase;
      margin-top: 1em; }
    .profile__subheading {
      color: #f7ffc8;
      font-weight: 600;
      font-size: 30px;
      line-height: 49px; }
    .profile__details p {
      font-size: 20px;
      line-height: 27px;
      color: #fffffd;
      margin-top: 1em; }
      .profile__details p i {
        color: #fca8bc;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        margin-right: 1.5em; }
    .profile__img {
      max-width: 45%;
      border: 20px rgba(250, 255, 249, 0.5) solid; }
    .profile__description {
      font-weight: normal;
      font-size: 20px;
      line-height: 33px;
      text-align: center;
      color: white;
      padding-top: 1em; }
    .profile__left:after {
      content: "";
      height: 60%;
      width: 2px;
      background: rgba(255, 255, 253, 0.8);
      position: absolute;
      top: 10%;
      left: 50%; }
    .profile__right {
      text-align: center;
      padding-left: 5em; }
    .profile__social-icons i {
      line-height: 41px;
      font-size: 30px !important; }
    .profile__social-icons a i:hover {
      transition: color 1.5s;
      color: #f7ffc8; }
  .work__heading {
    color: #338fb6;
    font-size: 40px;
    font-weight: 600;
    padding-top: 2em; }
  /* Timeline */
  .timeline {
    position: relative;
    margin: 0 auto;
    padding: 2em 12em; }
    .timeline:before {
      content: "";
      position: absolute;
      left: 50%;
      width: 5px;
      height: 97%;
      background: #338fb6; }
    .timeline ul {
      margin: 0;
      padding: 0; }
      .timeline ul li {
        list-style: none;
        position: relative;
        width: 50%;
        padding: 3em 2em;
        box-sizing: border-box; }
        .timeline ul li h3 {
          font-weight: 600;
          color: #338fb6;
          font-size: 40px; }
        .timeline ul li h4 {
          color: #8a8a8a;
          font-size: 30px;
          font-weight: 600; }
        .timeline ul li p {
          color: #000000;
          padding: 1em 0;
          font-size: 20px; }
        .timeline ul li:nth-child(odd) {
          float: left;
          text-align: right;
          clear: both; }
          .timeline ul li:nth-child(odd):before {
            content: "";
            position: absolute;
            top: 65px;
            right: -12px;
            width: 20px;
            height: 20px;
            background: #fca8bc;
            border-radius: 100%;
            box-shadow: 0 0 0 3px #338fb6; }
          .timeline ul li:nth-child(odd) .time {
            position: absolute;
            top: 55px;
            right: -230px;
            margin: 0;
            padding: .5em 1em;
            background: #338fb6;
            color: white;
            border-radius: 20px;
            border: 5px solid #acd2de; }
        .timeline ul li:nth-child(even) {
          float: right;
          text-align: left;
          clear: both; }
          .timeline ul li:nth-child(even):before {
            content: "";
            position: absolute;
            top: 60px;
            left: -8px;
            width: 20px;
            height: 20px;
            background: #fca8bc;
            border-radius: 100%;
            box-shadow: 0 0 0 3px #338fb6; }
          .timeline ul li:nth-child(even) .time {
            position: absolute;
            top: 50px;
            left: -230px;
            margin: 0;
            padding: .5em 1em;
            background: #338fb6;
            color: white;
            border-radius: 20px;
            border: 5px solid #acd2de; }
      .timeline ul:after {
        content: "";
        clear: both;
        display: block; }
    .timeline .content {
      padding-bottom: 20px; }
  .skills__heading {
    color: #338fb6;
    font-size: 40px;
    font-weight: 600;
    padding-top: 2em; }
  .skills .skill {
    margin: 5em;
    height: 750px;
    line-height: 30px;
    box-shadow: 0px 5px 10px #d4cdcd;
    border-bottom: 10px solid #f8719a; }
    .skills .skill__img {
      width: 100%;
      height: 300px;
      box-shadow: 0px 5px 10px #d4cdcd; }
    .skills .skill__content {
      padding: 1em .5em;
      margin: .5em 1em;
      height: 200px;
      font-size: 20px;
      color: #8a8a8a; }
      .skills .skill__content ul {
        list-style-type: none; }
        .skills .skill__content ul li {
          padding: 2px;
          font-weight: bold; }
        .skills .skill__content ul ul {
          margin-left: 2em;
          list-style-type: disc; }
          .skills .skill__content ul ul li {
            padding-top: .5em;
            font-weight: normal; }
    .skills .skill__title {
      font-weight: bold;
      color: #338fb6;
      font-size: 30px; }
    .skills .skill__desc {
      font-size: 20px;
      margin-top: 10px;
      color: #000000; }
    .skills .skill__badge {
      padding: .5em 1em;
      border-radius: 10px;
      font-size: 10px;
      text-transform: uppercase;
      vertical-align: middle;
      font-weight: bold;
      color: #fffffd;
      box-shadow: 1px 1px 3px #ab9595;
      margin-left: 1em; }
      .skills .skill__badge--green {
        background: #048e1c; }
      .skills .skill__badge--orange {
        background: #ff651b; }
  .footer__details {
    color: #f7ffc8;
    margin: 6em 5em; }
    .footer__details h3 {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase; }
    .footer__details h4 {
      font-size: 20px;
      margin: 1em 0;
      color: #fffffd; }
      .footer__details h4 a {
        color: #fffffd; }
  .footer__icons a {
    font-size: 40px;
    color: #fca8bc;
    margin: 1em 0; }
    .footer__icons a:not(:first-child) {
      margin-left: 1em; } }
